<footer class="footer container bg-dark text-center text-white py-5">
    <div class="container pt-4">
        <div class="social-links mt-4e">
            <a href="#" class="twitter"><i class="fab fa-twitter fs-4"></i></a>
            <a href="#" class="facebook"><i class="fab fa-facebook fs-4"></i></a>
            <a href="#" class="instagram"><i class="fab fa-instagram fs-4"></i></a>
            <a href="#" class="skype"><i class="fab fa-skype fs-4"></i></a>
            <a href="#" class="linkedin"><i class="fab fa-linkedin fs-4"></i></a>
        </div>
        <div class="copyright pt-4">
            <small>
                &copy; Copyright 
                <strong><span>Lee's Book Store</span></strong>
                . All Rights Reserved    
            </small>
        </div>
        <div class="credits"> Designed by <a href="" class="text-decoration-none">Lizbeth</a></div>
    </div>
</footer>