/* index.php */
.bg-contact{background-color: #263238; color: #a2a2a2;}
#contact-form input[type=text], #contact-form input[type=email],#contact-form textarea{width: 75%;}

/* analysis.html */
table#tbl-analysis td:hover{background-color: #0d6efd;}
table#tbl-analysis td:hover a{color: #fff;}

/* contact-us.php */
#contact-us input[type=text], #contact-us input[type=email], #contact-us textarea{width: 65%; border: 0;}

/* inner pages */
#tbL1, #tbL2, #tbL3, #tbL4, #tbL5{font-size: 12px; width: 80%;}
.tbL tr:hover{background-color:	#ddd;}
.tbL th{padding-top: 4px; padding-bottom: 4px; text-align: center; color: white;}
#tbL1 th{background-color: #0d6efd;} #tbL2 th{background-color: #cc6600;} #tbL3 th{background-color: #ffc000;}
#tbL4 th{background-color: #808000;} #tbL5 th{background-color: #009933;}

/* slider */
.slidecontainer{width: 100%; margin-top: 36px; font-size: 12px;}
.slidecontainer input{height: 4px;}
.ticks{display: flex; justify-content: space-between; padding: 10px 20px;}
.tick{position: relative; display: flex; justify-content: center; width: 1px; background: gray;  height: 10px; line-height: 50px;}

/* footer */
footer.dark-footer{background-color: #263238}

/* media queries */
/* privacy-disclaimer */
@media only screen and (min-width: 800px){#privacy p{margin-bottom:	280px;}}

/* footer */
@media only screen and (min-width: 800px){footer span.left{text-align: right;}}
@media only screen and (min-width: 800px){footer span.right{text-align: left;}}
@media only screen and (max-width: 799px){footer span.left, footer span.right{text-align: center;}}
