<div class="text-center container">
    <form class="border border-light p-5 offset-md-4 col-md-4 border-5">
        <p class="h4 mb-4">Sign in</p>
        <!-- Email -->
        <input type="email" id="email" class="form-control mb-4" placeholder="E-mail">
        <!-- Password -->
        <input type="password" id="password" class="form-control mb-4" placeholder="Password">
        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
                <label class="form-check-label">Remember Me</label>
              </div>      
          </div>
        <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
          </div>
        </div>
        <br>
        <!-- Sign in button -->
        <p>
            <a href="" class="btn btn-orange" type="button">Sign In</a>
        </p>        
        <hr>

        <!-- Register -->
        <p>Not a member?
            <a href="" class="btn btn-navyblue" type="button">Register</a>
        </p>
    </form>
</div>