.social-icons i{
    font-size: 24px;
}

.carousel-caption{
    position: absolute;
    left    : 0;
    text-align: left;
}

#about-us, #packages{background-color: #e3e7f1;}

#gallery{
    background-image        : url('../image/banner-1.jpg');
    background-size         : cover;
    background-attachment   : fixed;
}
.tile .img-caption, #gallery .img-caption{
    position    : absolute;
    left        : 0;
    bottom      : 0;
    background  : rgba(0, 0, 0, 0.5);
    color       : #fff;
    width       : 100%;
    font-weight : 200;
}

/* #about-us .btn, #explore-kerala .btn, 
#where-to-go .btn, #things-to-do .btn{
    background-color: #036;
    border          : 1px solid #036;
    border-radius   : 0;
} */



#connect-with-us i{
    font-size    : 24px;
    color        : #fff;
    padding      : 8px; 
    border-radius: 5px;
}

footer{
    background-color: #e3e7f1;
    color           : #666;
}

/* sign in  */
#sign-in{
    background-image: url('../image/sign-in-bg.jpg'); 
    background-size : cover;
}

/* sign up  */
#sign-up{
    background-image: url('../image/sign-up-bg.jpg'); 
    background-size : cover;
}

/* explore-kerala.html */
#explore-kerala-section .img-caption{
    position    : absolute;
    left        : 0;
    bottom      : 0;
    background  : rgba(0, 0, 0, 0.5);
    color       : #fff;
    width       : 100%;
    font-size   : 12px;
    font-weight : 200;
}

/* district.html */
.reach-icons i{
    font-size: 40px;
}

#about-tvm .banner{
    background-image        : url('../image/about-tvm.jpg');
    background-size         : cover;
    background-attachment   : fixed;
    padding                 : 200px 0;
}
#about-klm .banner{
    background-image        : url('../image/about-klm.jpg');
    background-size         : cover;
    background-attachment   : fixed;
    padding                 : 200px 0;
}
#about-ptma .banner{
    background-image        : url('../image/about-ptma.jpg');
    background-size         : cover;
    background-attachment   : fixed;
    padding                 : 200px 0;
}
#about-alp .banner{
    background-image        : url('../image/about-alp.jpg');
    background-size         : cover;
    background-attachment   : fixed;
    padding                 : 200px 0;
}
#about-ktym .banner{
    background-image        : url('../image/about-ktym.jpg');
    background-size         : cover;
    background-attachment   : fixed;
    padding                 : 200px 0;
}

/* coming-soon.html */
#coming-soon{
    background-image    : url('../image/coming-soon.jpg');
    background-size     : cover;
    padding             : 90px 0 460px;
    font-style          : oblique;
}
