<nav class="navbar navbar-expand-lg navbar-light bg-light py-0 my-0">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="../../assets/img/book-logo.jpg" class="img-fluid" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
        <ul class="navbar-nav ms-5">
          <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/booklist">Book List</a>
          </li>
          <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/newbook">New Book</a>
          </li>
        </ul>
      </div>
      <form class="d-flex">
        <a routerLink="/signup" class="btn btn-navyblue me-2" type="button" >Sign Up</a>
        <a routerLink="/login" class="btn btn-orange" type="button">Login</a>
      </form>
    </div>
  </nav>