<div class="container py-4 px-5 my-0">
    <div class="card-header">
        <p class="fs-4 my-0">{{title}}</p>
    </div>
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Author Image</th>
                        <th>Author Name</th>
                        <th>Best Seller</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data from the database should display here -->
                    <tr *ngFor='let i of author'>
                        <td><img [src]="i.imageURL" alt="image" [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin'>
                        </td>
                        <td>{{i.authorName}}</td>
                        <td>{{i.bestseller}}</td>
                        <td>{{i.rating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</div>