body{
  background: #eeeeee!important;
}
img.logo{
  height: auto;
  width : 160px;
}

#navToggle ul li a{
  color           : #666666; 
  text-decoration : none;
}
#navToggle ul li a:hover{color: #000000;}

@media(min-width: 780px){
  header h1{font-size:  64px;}
}

#blogSlider .card-body:hover{background-color: #dddddd;}

header h1 span, #blog h1 span, #capabilities h1 span, #clients h1 span{position: relative;}
header h1 span::after, #blog h1 span::after, #capabilities h1 span::after, #clients h1 span::after{
  width     : calc(100% + 5px);
  height    : 18px;
  background: #f0c700;
  content   : "";
  position  : absolute;
  bottom    : 2px;
  left      : -2px;
  z-index   : -1;
}

@media(min-width: 768px){
  #capabilities .borderSides{border-left: #bbbbbb 1px solid; border-right: #bbbbbb 1px solid}
  #capabilities .borderBottom{border-bottom: #bbbbbb 1px solid}
}

#btnAllWorks a:hover, #viewMore a:hover{
  font-weight   : bold;
  border-bottom : 4px solid #ffc107;
}

#blog a#btnAllBlogs:hover{
  background-color  : #ffc107;
}

#services .tab a{text-decoration: none; color: #000000;}
#services .tab a.active, #services .tab a:hover{color: #ffc107;}

@media(min-width: 980px){#clients{padding: 0 180px;}}

#clients img{filter: grayscale(100%);}
#clients img:hover{filter: grayscale(0%);}

footer span.social-icons i{color: #666666;}
footer span.social-icons i:hover{color: #f0c700;}

footer span.footText{font-weight: light;}
footer span.footText:hover{padding-right: 2px;}

.tabItem{display: none;}
.tabItem:hover{display: block;}
