<div class="container py-4 px-5">
    <div class="card">
        <form (ngSubmit)="NewBook()">
            <!-- Header -->
            <div class="card-header">
                <p class="fs-4 my-0">{{title}}</p>
            </div>
    
            <!-- Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Book Code</td>
                                <td><input type="number" name="b_code" [(ngModel)]="newbook.bookCode"></td>
                            </tr>
                            <tr>
                                <td>Book Name</td>
                                <td><input type="text" name="b_bname" [(ngModel)]="newbook.bookName"></td>
                            </tr>
                            <tr>
                                <td>Author Name</td>
                                <td><input type="text" name="b_aname" [(ngModel)]="newbook.authorName"></td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td><input type="text" name="b_description" [(ngModel)]="newbook.description"></td>
                            </tr>
                            <tr>
                                <td>Rating</td>
                                <td><input type="number" name="b_rating" [(ngModel)]="newbook.rating"></td>
                            </tr>
                            <tr>
                                <td>Image URL</td>
                                <td><input type="text" name="b_image" [(ngModel)]="newbook.imageURL"></td>
                            </tr>
                            <tr>
                                <td><input class="btn" type="submit" value="Submit"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>